<form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" class="delete-tweet-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="text-orange-500 dark:text-white font-medium hover:underline cursor-pointer delete-tweet-button"
    data-comment-id="{{ comment.id }}"
    ><i class="fa-solid fa-trash"></i></button>
</form>