{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="cursor-pointer bg-orange-500 text-white font-bold py-2 px-4 mt-5 rounded">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
