<form method="post" action="{{ path('app_comment_signalComment', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir signaler ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('signalComment' ~ comment.id) }}">
    <button class="text-red-600 dark:text-white font-medium cursor-pointer hover:text-red-400 duration-200 ease-in-out">Signaler</button>
</form>
