<form method="post" action="{{ path('app_tweet_like', {'id': tweet.id}) }}" class="like-form">
    <input type="hidden" name="_token" value="{{ csrf_token('signalTweet' ~ tweet.id) }}">
    <button type="submit" class="text-red-600 font-medium cursor-pointer hover:text-red-400 duration-200 ease-in-out">
        <span id="like-count-{{ tweet.id }}">{{ tweet.likes|length }}</span> <i class="fa-solid fa-paw"></i>
    </button>
</form>