<form method="post" action="{{ path('app_tweet_signalTweet', {'id': tweet.id}) }}" class="delete-tweet-form">
    <input type="hidden" name="_token" value="{{ csrf_token('signalTweet' ~ tweet.id) }}">
    <button class="text-red-600 dark:text-white font-medium cursor-pointer hover:text-red-400 duration-200 ease-in-out report-button"
    data-report-tweet-id="{{ tweet.id }}"
    >Signaler</button>
</form>
