<<<<<<< HEAD
/* body {
    background-color: skyblue;
} */

input {
    border: 1px solid grey;
}
=======
body {
    background-color: rgb(255, 255, 255);
}
>>>>>>> b45f134de95c0c9ff83b81859789ba050c4e77fd
