{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out text-center">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
